{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
    <form method="post">
        <label>
            <div>UserName</div>
            <input type="text" name="username" value={{username}}>
        </label>

        <label>
            <div>Password</div>
            <input type="password" name="password">
        </label>

        <div class="error">{{error}}</div>
        <input type="submit">
    </form>
<p>Don't have an account? <a href="/signup">Create one!</a></p>
{% endblock %}
